<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nébula Music - Inicio (Código Base)</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>

    <!-- MENÚ DE NAVEGACIÓN -->
    <nav>
        <a class="logo" href="index.html">
            <img src="../static/imgs/nebula-03.svg" alt="Logo Nébula" width="100">
        </a>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="iniciar-sesion.html">Iniciar Sesión</a></li>
            <li><a href="registro.html">Registrarse</a></li>
            <li><a href="cerrar-sesion.html">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <!-- CABECERA -->
    <header class="principal">
        <img src="../static/imgs/cover.jpg" alt="Cover Nébula" width="100%" height="200" style="object-fit: cover;">
        <h1>Tu música en la nube y en tu espacio.</h1>
    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <main>
        
        <!-- SECCIÓN DE NOTICIAS -->
        <section id="noticias">
            <h2>Novedades de la Semana</h2>

            <!-- Artículo 1 -->
            <article>
                <h3>Taylor Swift en su nueva era</h3>
                <p>El nuevo disco de Taylor, <i>"The life of a showgirl"</i> saldrá a la venta el 3 de octubre.</p>
            </article>

            <!-- Artículo 2 -->
            <article>
                <h3>Oasis</h3>
                <p>Los hermanos Liam y Noel Gallagher se reencontrarán con sus fans y traerán un setlist espectacular.</p>
            </article>

            <!-- Artículo 3 -->
            <article>
                <h3>Los Reztos en concierto</h3>
                <p>Gran éxito en el concierto tributo a Marea en Ciudad Obregón.</p>
            </article>

        </section>

    </main>

    <!-- PIE DE PÁGINA -->
    <footer>
        <p>Copyright Nébula 2025.</p>
    </footer>

</body>
</html>
